.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 4vh;
    background-color: #575757;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
}